
    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 2rem;
      background: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    label {
      display: block;
      margin-top: 1rem;
      font-weight: bold;
      color: black;
    }
    input {
      width: 100%;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .response-box {
      margin-top: 1.5rem;
      text-align: center;
      color: red;
    }
.connect-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
<<<<<<< HEAD
    margin-left: 20%; top: 10%; width: 70%; height: 70%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    
}
=======
    margin-left: 20%; top: 20%; width: 70%; height: 70%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
>>>>>>> 82ddf615e9f5cea4bcd06603cc9fca265a7fbfee
